@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --color-primary--darkest: #471E65;
  --color-primary--darker: #552479;
  --color-primary--dark: #622A8C;
  --color-primary--base: #7030A0;
  --color-primary--light: #9752CB;
  --color-primary--lighter: #AE79D7;
  --color-primary--lightest: #D2B4E8;
  --color-secondary--darkest: #0E426F;
  --color-secondary--darker: #12548D;
  --color-secondary--dark: #1666AC;
  --color-secondary--base: #1A79CB;
  --color-secondary--light: #5FA1DA;
  --color-secondary--lighter: #A3C9EA;
  --color-secondary--lighest: #E8F1F9;
  --color-terciary--dark: #C678D9;
  --color-terciary--base: #DEB1E9;
  --color-terciary--light: #F7ECF9;
  --color-neutral--0: #ffffff;
  --color-neutral--1: #F8F9FA;
  --color-neutral--2: #F1F3F5;
  --color-neutral--3: #E9ECEF;
  --color-neutral--4: #DEE2E6;
  --color-neutral--5: #CED4DA;
  --color-neutral--6: #ADB5BD;
  --color-neutral--7: #6A7178;
  --color-neutral--8: #4F575E;
  --color-neutral--9: #272B30;
  --color-neutral--10: #101213;
  --color-error: #E03131;
  --color-sucess: #2A843C;
  --color-warning: #E9A100;
  --color-info: #009DDE;
  --color-focus: #009DDE;
}

:root {
  --border-radius-medium: 30px;
  --border-radius-large: 40px;
  --border-radius-full: 100%;
  --border-white: #fff 2px solid;
}

:root {
  --font-family: "Raleway",
      sans-serif;
  --display: 36px;
  --heading-1: 32px;
  --heading-2: 28px;
  --heading-6: 18px;
  --font: 16px;
  --font-small: 14px;
  --font-extra-small: 12px;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

:root {
  --shadow-sm: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.menu-top--light {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--color-primary--base);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  display: flex;
  color: var(--color-neutral--0);
  list-style: none;
  white-space: nowrap;
}
.menu-top--light .menu-top--header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.menu-top--light--nav {
  margin-left: 125px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.menu-top--light--nav .menu-top--nav--items {
  margin-left: 80px;
  color: var(--color-neutral--0);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-top--light--nav .menu-top--nav--items:hover {
  border-bottom: 1px solid var(--color-neutral--0);
}
.menu-top--light--nav .menu-top--nav--items[class*="--bottom"] {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 100px;
}
.menu-top--light .ava-login {
  border: var(--border-white);
  border-radius: var(--border-radius-full);
}

.menu-top--dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--color-secondary--darkest);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  display: flex;
  color: var(--color-neutral--0);
  list-style: none;
  white-space: nowrap;
}
.menu-top--dark .menu-top--header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.menu-top--dark--nav {
  margin-left: 125px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.menu-top--dark--nav .menu-top--nav--items {
  margin-left: 80px;
  color: var(--color-neutral--0);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-top--dark--nav .menu-top--nav--items:hover {
  border-bottom: 1px solid var(--color-neutral--0);
}
.menu-top--dark--nav .menu-top--nav--items[class*="--bottom"] {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 100px;
}
.menu-top--dark .ava-login {
  border: var(--border-white);
  border-radius: var(--border-radius-full);
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  background: var(--color-primary--base);
}
.nav__menu-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
}
.nav__menu-top .nav-arrow {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
  transform: rotate(0deg);
}

.menu-nav {
  display: flex;
  height: 100%;
  justify-content: center;
}
.menu-nav .menu-nav__item {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
  width: 100%;
}
.menu-nav .menu-nav__item-a {
  height: 60px;
  display: flex;
  align-items: center;
}
.menu-nav__item-bottom {
  margin-top: auto;
  margin-bottom: 130px;
}

.is-open {
  width: 225px;
}
.is-open .nav__menu-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  color: var(--color-neutral--0);
}
.is-open .nav-logo--text {
  font-size: var(--heading-6);
  margin-left: -30px;
}
.is-open .nav-arrow {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
  transform: rotate(180deg);
}
.is-open .menu-nav__item--top {
  margin-left: 7px;
}
.is-open .menu-nav__item a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  color: var(--color-neutral--0);
  text-decoration: none;
}

.nav--dark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  background: var(--color-secondary--darkest);
  border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
}
.nav--dark__menu-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.nav--dark__menu-top .nav-arrow {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
  transform: rotate(0deg);
}

.menu-nav {
  display: flex;
  height: 100%;
  justify-content: center;
}
.menu-nav .menu-nav__item {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
  width: 100%;
}
.menu-nav .menu-nav__item-a {
  height: 60px;
  display: flex;
  align-items: center;
}
.menu-nav__item-bottom {
  margin-top: auto;
  margin-bottom: 130px;
}

.is-open--dark {
  width: 225px;
}
.is-open--dark .nav__menu-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  color: var(--color-neutral--0);
}
.is-open--dark .nav-logo--text {
  font-size: var(--heading-6);
  margin-left: -30px;
}
.is-open--dark .nav-arrow {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
  transform: rotate(180deg);
}
.is-open--dark .menu-nav__item--top {
  margin-left: 7px;
}
.is-open--dark .menu-nav__item a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  color: var(--color-neutral--0);
  text-decoration: none;
}

.btn {
  border-radius: var(--border-radius-medium);
}

.background-primary {
  background-color: var(--color-primary--base);
}

.background-secondary {
  background-color: var(--color-secondary--base);
}

.btn-primary {
  border: none;
}
.btn-primary:hover[class*=-hover] {
  background: var(--color-primary--dark);
}
.btn-primary:active[class*=-active] {
  background: var(--color-primary--darker);
}
.btn-primary:focus[class*=-focus] {
  outline-color: var(--color-focus);
  outline-style: auto;
  outline-offset: 2px;
  outline-width: 0.5px;
}

.button-group-item.button-group-selected-item {
  background-color: var(--color-primary--base);
  border: 1px solid var(--color-primary--base);
  color: var(--color-neutral--0);
}

.button-group-item {
  border: 1px solid var(--color-primary--base);
}

.text-primary {
  border: var(--color-primary--base) 1px solid;
  color: var(--color-primary--base);
}
.text-primary:hover[class*=-hover] {
  background: var(--color-neutral--2);
}
.text-primary:active[class*=-active] {
  background: var(--color-neutral--4);
}
.text-primary:focus[class*=-focus] {
  border: none;
  outline: var(--color-focus) 2px solid;
}

.text-secondary {
  border: var(--color-secondary--base) 1px solid;
  color: var(--color-secondary--base);
}

.btn-terciary {
  border: none;
  background: var(--color-terciary--light);
  color: var(--color-primary--base);
  border-radius: var(--border-radius-medium);
  padding: 6px 16px;
  transition: 100ms linear;
}
.btn-terciary:hover[class*=-hover] {
  background: var(--color-terciary--base);
}
.btn-terciary:active[class*=-active] {
  background: var(--color-terciary--dark);
}
.btn-terciary:focus[class*=-focus] {
  outline-color: var(--color-focus);
  outline-style: auto;
  outline-offset: 2px;
  outline-width: 0.5px;
}

.btn-plain {
  border: none;
  background: var(--color-neutral--0);
  border-radius: var(--border-radius-medium);
  padding: 6px 16px;
  transition: 100ms linear;
}
.btn-plain:hover[class*=-hover] {
  background: var(--color-secondary--lighest);
}
.btn-plain:active[class*=-active] {
  background: var(--color-secondary--lighter);
}
.btn-plain:focus[class*=-focus] {
  background: var(--color-secondary--lighest);
  outline-color: var(--color-focus);
  outline-style: auto;
  outline-offset: 2px;
  outline-width: 0.5px;
}

[class*=-disabled] {
  background: var(--color-neutral--4);
  border: var(--color-neutral--6) 1px solid;
  color: var(--color-neutral--6);
}

.btn-error {
  background-color: var(--color-error);
}

.container-soft {
  background: var(--color-neutral--1);
  border-radius: var(--border-radius-medium);
  width: 300px;
  height: 300px;
  box-shadow: var(--shadow-sm);
}

.search-input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-neutral--4);
  text-indent: 20px;
  padding-bottom: 10px;
}
.search-input:focus {
  outline: none;
}
.search-input::-moz-placeholder {
  color: var(--color-neutral--6);
}
.search-input::placeholder {
  color: var(--color-neutral--6);
}

.search-glass {
  height: 16px;
  width: 16px;
  margin-right: -20px;
  margin-bottom: -3px;
}

.tag {
  background: var(--color-neutral--8);
  color: var(--color-neutral--0);
  border-radius: var(--border-radius-medium);
  border: none;
  outline: none;
  padding: 6px 16px;
  font-size: var(--font-small);
}
.tag[class*=-small] {
  font-size: var(--font-extra-small);
  padding: 3px 8px;
}
.tag[class*=-medium] {
  padding: 8px 24px;
  font-size: var(--font);
}

.pagination-container > .pagination-button:first-child {
  margin-left: 0;
  border: none;
  background: none;
}

.pagination-button {
  background: none;
  border: none;
}

.pagination-button.is--active {
  border-radius: var(--border-radius-rounded);
}

* {
  box-sizing: border-box;
}

body {
  max-height: 100%;
  max-width: 100%;
  font-family: var(--font-family);
}/*# sourceMappingURL=final-project-theme.css.map */