 $types:"primary","secondary";
 $othertypes:"sucess","error","warning","info";
 $variants:"darkest","darker","dark","","light","lighter","lightest";


 @each $type in $types{
    @each $variant in $variants{
        @if ($variant ==""){
            .background-#{$type}{
                background-color: var(--color-#{type});
            }
            .text-#{$type}{
                color: var(--color-#{$type});
            }
        }
        @else{
            .background-#{$type}--#{$variant}{
                background-color: var(--color-#{$type}-#{$variant});
            }
            .text-#{$type}--#{$variant}{
                color: var(--color-#{$type}-#{$variant});
            }
        }
    }
 }

 @each $othertype in $othertypes{
    .background-#{$othertype}{
        background-color: var(--color-#{$othertype});
    }
    .text-#{$othertype}{
        color: var(--color-#{$othertype});
    }
 }