.btn{
    border-radius: var(--border-radius-medium);
}
.background-primary{
    background-color: var(--color-primary--base);
}
.background-secondary{
    background-color: var(--color-secondary--base);
}
.btn-primary{
    border: none;
    &:hover[class*='-hover'] {
            background: var(--color-primary--dark);
        }

    &:active[class*='-active']{
        background:var(--color-primary--darker);
    }
    &:focus[class*='-focus']{
        //this was not working with shorthand
            outline-color: var(--color-focus);
            outline-style: auto;
            outline-offset: 2px;
            outline-width: 0.5px;
    }       
}

.button-group-item.button-group-selected-item{
    background-color: var(--color-primary--base);
    border: 1px solid var(--color-primary--base);
    color: var(--color-neutral--0);
}
.button-group-item{
    border: 1px solid var(--color-primary--base);
    

}

.text-primary{
    border:        var(--color-primary--base) 1px solid;
    color:         var(--color-primary--base);
        &:hover[class*='-hover']{
            background:var(--color-neutral--2);
        }
        &:active[class*='-active']{
            background:var(--color-neutral--4);
        }
        &:focus[class*='-focus'] {
           //this was not working with shorthand
           border: none;
           outline: var(--color-focus) 2px solid;
       }
}
.text-secondary{
    border:  var(--color-secondary--base) 1px solid;
    color: var(--color-secondary--base);
}

.btn-terciary{
    border: none;
    background:    var(--color-terciary--light);
    color:         var(--color-primary--base  );
    border-radius: var(--border-radius-medium );
    padding: 6px 16px;
    transition: 100ms linear;

    &:hover[class*='-hover'] {
        background: var(--color-terciary--base);
 }

     &:active[class*='-active'] {
        background: var(--color-terciary--dark);
 }

     &:focus[class*='-focus'] {
         //this was not working with shorthand
         outline-color: var(--color-focus);
         outline-style: auto;
         outline-offset: 2px;
         outline-width: 0.5px;
     }
}


.btn-plain {
    border: none;
    background:    var(--color-neutral--0    );
    border-radius: var(--border-radius-medium);
    padding: 6px 16px;
    transition: 100ms linear;

    &:hover[class*='-hover'] {
      background: var(--color-secondary--lighest);
    }

    &:active[class*='-active'] {
      background: var(--color-secondary--lighter);
    }

    &:focus[class*='-focus'] {
        //this was not working with shorthand
        background:    var(--color-secondary--lighest);
        outline-color: var(--color-focus);
        outline-style: auto;
        outline-offset: 2px;
        outline-width: 0.5px;
    }


}

[class*='-disabled'] {
    background: var(--color-neutral--4);
    border:     var(--color-neutral--6) 1px solid;
    color:      var(--color-neutral--6);
}

.btn-error{
    background-color: var(--color-error) ;
}