
.pagination-container>.pagination-button:first-child {
    margin-left: 0;
        border: none;
        background: none;
}

.pagination-button {
background: none;
border: none;
}

.pagination-button.is--active {
    border-radius: var(--border-radius-rounded);
}
