
.search-input{
    background: none;
    border: none;
    border-bottom:1px solid var(--color-neutral--4);
    text-indent: 20px;
    padding-bottom: 10px;
    
    &:focus{
        outline: none;
    }

        &::placeholder {
         color: var(--color-neutral--6);
        }
}

.search-glass{
    height: 16px;
    width: 16px;
    margin-right: -20px;
    margin-bottom: -3px;

    
}