.tag{
    background:    var(--color-neutral--8    );
    color:         var(--color-neutral--0    );
    border-radius: var(--border-radius-medium);
    border: none;
    outline: none;
    padding: 6px 16px;
    font-size: var(--font-small);

    &[class*='-small'] {
    font-size: var(--font-extra-small);
    padding: 3px 8px;
    }

    &[class*='-medium'] {
    padding: 8px 24px;
    font-size:var(--font);
    }

}