@import './1-abstract/colors-vars',
        './1-abstract/borders-vars',
        './1-abstract/root-var',
        './1-abstract/mixins',
        './1-abstract/typography-vars',
        './1-abstract/shadows',

        './3-layout/menu-top--light',
        './3-layout/menu-top--dark',
        './3-layout/menu-side--light',
        './3-layout/menu-side--dark',

        './5-widgets/buttons',
        './5-widgets/containers',
        './5-widgets/searchbar',
        './5-widgets/tags',
        './5-widgets/pagination'
       
        ;

*{
    box-sizing: border-box;
}
body{
    max-height: 100%;
    max-width: 100%;
    font-family: var(--font-family);
}