.nav--dark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 120px;
    background: var(--color-secondary--darkest);
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;

    &__menu-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        

        .nav-arrow {
            display: flex;
            align-self: center;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            transform: rotate(180deg);
            transform: rotate(0deg);
        }
    }
}

.menu-nav {
    display: flex;
    height: 100%;
    justify-content: center;
    

    .menu-nav__item {
        display: flex;
        align-items: center;
        margin-top: 150px;
        flex-direction: column;
        width: 100%;
    }
    .menu-nav__item-a{
            height: 60px;
            display: flex;
            align-items: center;
    }

    &__item-bottom {
        margin-top: auto;
        margin-bottom: 130px;

    }
}



//Menu is open
.is-open--dark {
    width: 225px;

    .nav__menu-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
        color: var(--color-neutral--0);

    }

    .nav-logo--text {
        font-size: var(--heading-6);
        margin-left: -30px;
    }

    .nav-arrow {
        transition: transform 0.5s ease-in-out;
        transform: rotate(0deg);
        transform: rotate(180deg);
    }

    .menu-nav__item--top {
        margin-left: 7px;
    }

    .menu-nav__item a {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        color: var(--color-neutral--0);
        text-decoration: none;
    }
}