.menu-top--light{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--color-primary--base);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  display: flex;
  color: var(--color-neutral--0);
  list-style: none;
  white-space: nowrap;

.menu-top--header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

  &--nav{
    margin-left: 125px;
    display: flex;
    align-items:center;
    gap: 50px;
    width: 100%;
    
  
  .menu-top--nav--items {
    margin-left: 80px;
      color: var(--color-neutral--0);
      text-decoration: none;
      display: flex;
      align-items: center;
      height: 100%;
      // min-width: 100px;


      &:hover{
        border-bottom: 1px solid var(--color-neutral--0);
      }
    
        &[class*='--bottom'] {
            margin-left: auto; 
            display: flex;
            align-items: center; 
            gap: 10px;
            margin-right: 100px;

        }
    }
}

.ava-login{
    border: var(--border-white) ;
    border-radius: var(--border-radius-full);
}

}