:root{
    --color-primary--darkest : #471E65;
    --color-primary--darker: #552479;
    --color-primary--dark: #622A8C;
    --color-primary--base: #7030A0;
    --color-primary--light: #9752CB;
    --color-primary--lighter: #AE79D7;
    --color-primary--lightest: #D2B4E8;

    --color-secondary--darkest: #0E426F;
    --color-secondary--darker: #12548D;
    --color-secondary--dark: #1666AC;
    --color-secondary--base: #1A79CB;
    --color-secondary--light: #5FA1DA;
    --color-secondary--lighter: #A3C9EA;
    --color-secondary--lighest: #E8F1F9;
    
    --color-terciary--dark: #C678D9;
    --color-terciary--base: #DEB1E9;
    --color-terciary--light: #F7ECF9;

    --color-neutral--0: #ffffff;
    --color-neutral--1: #F8F9FA;
    --color-neutral--2: #F1F3F5;
    --color-neutral--3: #E9ECEF;
    --color-neutral--4: #DEE2E6;
    --color-neutral--5: #CED4DA;
    --color-neutral--6: #ADB5BD;
    --color-neutral--7: #6A7178;
    --color-neutral--8: #4F575E;
    --color-neutral--9: #272B30;
    --color-neutral--10: #101213;
    
    --color-error: #E03131;
    --color-sucess: #2A843C;
    --color-warning: #E9A100;
    --color-info: #009DDE;
    --color-focus: #009DDE;
}
