@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --font-family: 'Raleway',
        sans-serif;
    
        --display: 36px;
    
        --heading-1: 32px;
        --heading-2: 28px;
        --heading-6: 18px;
    
        --font: 16px;
        --font-small: 14px;
        --font-extra-small: 12px;
    
        --regular: 400;
        --medium: 500;
        --bold: 700;
}